/* $Id: page.css,v 1.1.2.28 2009/06/12 15:44:26 jmburnz Exp $ */

/**
 * @file page.css
 * This stylesheet provides the page main styles for this theme.
 */

/**
 * Remove unused styles for performace.
 */
 
.item-list ul li {
	list-style: none;
	margin:0;
	} 
 

/**********************************************************
 *              Section, Page and Body Classes
 **********************************************************/
/**
 * Normally you will use these in combination with other
 * selectors. I include them here for completedness.
 */

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	}
	
body {
	background: #fff url(../images/bg_skojtehallen_low.jpg) center 80px repeat;
	}	
	
	body.isbanen {
		background: #fff url(../images/bg_isbanen.jpg) center 69px repeat;
		}

	body.admin {
		background-position: center 30px;
		}

	
/**********************************************************
 *                  The wrapper divs
 *    Be careful how you modify these, see layout.css
 **********************************************************/

#container {
  width: 960px; 
	margin: 0 auto;
	background: transparent url(../images/back-content-default.png) center top repeat-y;	
	}

#container-inner {
	padding: 0 157px 0 202px; 
	background: transparent url(../images/back-top-skojtebanen-1.jpg) center top no-repeat;
	min-height: 550px;
	overflow: hidden;
	}

#container-inner.theme-style-2 {
	background: transparent url(../images/back-top-skojtebanen-2.jpg) center top no-repeat;
	}
	
#container-inner.theme-style-3 {
	background: transparent url(../images/back-top-skojtebanen-3.jpg) center top no-repeat;
	}
	
#container-inner.theme-style-4 {
	background: transparent url(../images/back-top-skojtebanen-4.jpg) center top no-repeat;
	}

#header-blocks {	
	position: relative;
	
	clear: both;}


/**********************************************************
 *                       Regions
 **********************************************************/


/**********************************************************
 *                      Sidebars
 **********************************************************/

#sidebar-left {
	width: 156px;
	}
	
	#sidebar-left .block-views {
		border-bottom: 1px dotted #ddd;
		padding-bottom: 2px;
		margin-bottom: 20px;
		}
		

	#sidebar-left .view ul li,
	#sidebar-left .view .more-link {
		margin-left: -18px;
		list-style: none;
		padding-left: 18px;
		background: transparent url(../images/icon-list-bullet.png) 0px 2px no-repeat;
		margin-bottom: 20px;
		line-height: 15px;
		text-align: left;
		}
	

/*********************************************************
*                     Logoer
**********************************************************/

.puls-logo {
	float: left;
	margin: 2px 20px 6px -18px;
	margin-right: 20px; 
	margin-left: -18px;
	}

.puls-logo img {
	margin-left: 48px;
}
	
.aak-logo {
	float: left;
	margin: 2px -20px 6px 0;
	}


/**********************************************************
 *                   Skip navigation
 **********************************************************/

/**********************************************************
 *                 Header Elements
 **********************************************************/

#site-name {
	float: left;
	height: 65px;
	width: 300px;
	overflow: hidden;
	position: relative;
	}
	
	#site-name span {
		position: absolute;
		top: 0;
		left: 0;
		height: 65px;
		width: 300px;
		background: transparent url(../images/back-title-skojtebanen.jpg) left top no-repeat;
		}



/**********************************************************
 *    Search box, Advanced search form, Search results
 *          For the search block see blocks.css
 **********************************************************/

.messages.status, .messages {
	border: 1px dotted #ccc;
	padding: 16px 8px;
	font-weight: bold;
	font-size: 1.6em;
	margin: 12px 0;
	background: #d9e8f1;
	}


/**********************************************************
 *               Primary & Secondary Links
 **********************************************************/

#header-blocks .menu-name-primary-links>.menu,
#header-blocks .menu-name-menu-isbanen-links>.menu {
	clear: both;
	padding: 28px 0 19px;
	height: 40px;
	}
	
	#header-blocks .menu-name-primary-links>.menu>li,
	#header-blocks .menu-name-menu-isbanen-links>.menu>li {
		float: left;
		position: relative;
		overflow: visible;
		margin-right: 8px;
		}
		
		#header-blocks .menu-name-primary-links>.menu>li.last,
		#header-blocks .menu-name-menu-isbanen-links>.menu>li.last {
			margin-right: 0;
			}
		
		#header-blocks .menu-name-primary-links>.menu>li>a,
		#header-blocks .menu-name-menu-isbanen-links>.menu>li>a {
			height: 40px;
			display: block;
			line-height: 40px;
			text-indent: -9999em; 
			padding: 0 4px;
			}

	#header-blocks .menu-name-primary-links li.expanded .menu,
	#header-blocks .menu-name-menu-isbanen-links li.expanded .menu {
		display: none;
		position: absolute;
		float: left;
		left: 1px;
		top: 40px;
		background: #90a9c5;
		height: auto;
                z-index: 10;
		}
		
		#header-blocks .menu-name-primary-links li.expanded .menu li,
		#header-blocks .menu-name-menu-isbanen-links li.expanded .menu li {		
			border: 1px solid #d4dbef;
			border-top: none;
			}
			
		#header-blocks .menu-name-primary-links li.expanded .menu a,
		#header-blocks .menu-name-menu-isbanen-links li.expanded .menu a {
			display: block;
			padding: 3px 16px;
			}
			
		#header-blocks .menu-name-primary-links li.expanded .menu a:hover,
		#header-blocks .menu-name-menu-isbanen-links li.expanded .menu a:hover {
			background: #49698f;
			}
		
		
	#header-blocks .menu-name-primary-links li.expanded:hover .menu,
	#header-blocks .menu-name-menu-isbanen-links li.expanded:hover .menu {
		display: block;
		
		}
		
	.jquery #header-blocks .menu-name-primary-links li.expanded .menu,
	.jquery #header-blocks .menu-name-menu-isbanen-links li.expanded .menu {
		display: none;
		}
		
	#header-blocks .menu-name-primary-links .menu a,
	#header-blocks .menu-name-menu-isbanen-links .menu a {
		white-space: nowrap;			
		}
		
		#header-blocks .menu-name-primary-links .menu a:focus,
		#header-blocks .menu-name-menu-isbanen-links .menu a:focus,
		#header-blocks .menu-name-primary-links .menu a:active,
		#header-blocks .menu-name-menu-isbanen-links .menu a:active  {
			outline: none;
			border: 1px dotted red;
			margin: -1px;			
			}

	
	#header-blocks .menu-name-primary-links li.expanded li,
	#header-blocks .menu-name-menu-isbanen-links li.expanded li {
		float: none;
		}
		

#header-blocks .menu-name-primary-links>.menu>li>a,
#header-blocks .menu-name-menu-isbanen-links>.menu>li>a {
	background: #fff url(../images/back-menu-sprite.png) 0 0 no-repeat;
	}
	

/* ******************** Skojtebanen-menu ******************/


#header-blocks .menu-name-primary-links .menu .menu-mlid-459>a {
	width: 113px;
	}
	
	#header-blocks .menu-name-primary-links .menu .menu-mlid-459>a.active-trail,
	#header-blocks .menu-name-primary-links .menu .menu-mlid-459>a:hover
	 {
		background-position: 0 -40px;
		}
	
#header-blocks .menu-name-primary-links .menu .menu-mlid-460>a {
	width: 96px;
	background-position: -129px 0;
	}

	#header-blocks .menu-name-primary-links .menu .menu-mlid-460>a.active-trail,
	#header-blocks .menu-name-primary-links .menu .menu-mlid-460>a:hover {
		background-position: -129px -40px;
		}
	
#header-blocks .menu-name-primary-links .menu .menu-mlid-461>a {
	width: 55px;
	background-position: -251px 0;
	}

	#header-blocks .menu-name-primary-links .menu .menu-mlid-461>a.active-trail,
	#header-blocks .menu-name-primary-links .menu .menu-mlid-461>a:hover {
		background-position: -251px -40px;
		}

#header-blocks .menu-name-primary-links .menu .menu-mlid-463>a {
	width: 65px;
	background-position: -382px 0;
	}
	
	#header-blocks .menu-name-primary-links .menu .menu-mlid-463>a.active-trail,
	#header-blocks .menu-name-primary-links .menu .menu-mlid-463>a:hover {
		background-position: -382px -40px;
		}
	
#header-blocks .menu-name-primary-links .menu .menu-mlid-468>a {
	width: 67px;
	background-position: -466px 0;
	}

	#header-blocks .menu-name-primary-links .menu .menu-mlid-468>a.active-trail,
	#header-blocks .menu-name-primary-links .menu .menu-mlid-468>a:hover {
		background-position: -466px -40px;
		}
	
#header-blocks .menu-name-primary-links .menu .menu-mlid-469>a {	
	width: 33px;
	background-position: -552px 0;
	}
	
	#header-blocks .menu-name-primary-links .menu .menu-mlid-469>a.active-trail,
	#header-blocks .menu-name-primary-links .menu .menu-mlid-469>a:hover {
		background-position: -552px -40px;
		}
		
/* Subsite links */
#header-blocks .menu-name-primary-links .menu .menu-mlid-672>a {
	width: 67px;
	background-position: -604px 1px;
	background-color: transparent;
	}


/* ******************** Isbanen-menu ******************/
#header-blocks .menu-name-menu-isbanen-links .menu .menu-mlid-474>a {
	width: 67px;
	background-position: 0 -80px;
	}
	
	#header-blocks .menu-name-menu-isbanen-links .menu .menu-mlid-474>a.active-trail,
	#header-blocks .menu-name-menu-isbanen-links .menu .menu-mlid-474>a:hover
	 {
		background-position: 0 -120px;
		}

#header-blocks .menu-name-menu-isbanen-links .menu .menu-mlid-476>a {
	width: 94px;
	background-position: -85px -80px;
	}
	
	#header-blocks .menu-name-menu-isbanen-links .menu .menu-mlid-476>a.active-trail,
	#header-blocks .menu-name-menu-isbanen-links .menu .menu-mlid-476>a:hover
	 {
		background-position: -85px -120px;
		}
		
#header-blocks .menu-name-menu-isbanen-links .menu .menu-mlid-615>a {
	width: 59px;
	background-position: -207px -80px;
	}
	
	#header-blocks .menu-name-menu-isbanen-links .menu .menu-mlid-615>a.active-trail,
	#header-blocks .menu-name-menu-isbanen-links .menu .menu-mlid-615>a:hover
	 {
		background-position: -207px -120px;
		}
		
#header-blocks .menu-name-menu-isbanen-links .menu .menu-mlid-479>a {
	width: 66px;
	background-position: -316px -80px;
	}
	
	#header-blocks .menu-name-menu-isbanen-links .menu .menu-mlid-479>a.active-trail,
	#header-blocks .menu-name-menu-isbanen-links .menu .menu-mlid-479>a:hover
	 {
		background-position: -316px -120px;
		}	

#header-blocks .menu-name-menu-isbanen-links .menu .menu-mlid-480>a {
	width: 33px;
	background-position: -402px -80px;
	}
	
	#header-blocks .menu-name-menu-isbanen-links .menu .menu-mlid-480>a.active-trail,
	#header-blocks .menu-name-menu-isbanen-links .menu .menu-mlid-480>a:hover
	 {
		background-position: -402px -120px;
		}
		
/* Subsite links */
#header-blocks .menu-name-menu-isbanen-links .menu .menu-mlid-671>a {
	width: 86px;
	background-position: -606px -80px;
	background-color: transparent;
	}


/* ******************** Secondary links *******************/
.menu-name-secondary-links .menu {
	float: right;
	margin-top: 45px;
	width: 210px;
	}

	.menu-name-secondary-links .menu li {
		float: right;
		}
		
		.menu-name-secondary-links .menu li a {
			border-left: 1px solid #1a4165;
			margin-left: 4px;
			padding-left: 4px;
			}

	.menu-name-secondary-links .menu li.menu-mlid-670 {
	   width: 84px;
	   position: relative;
	   height: 1em;
	   display: inline-block;
	   }
	   
	   .menu-name-secondary-links .menu li.menu-mlid-670 a {
	       height: 50px;
	       width: 76px;
	       display: block;
	       position: absolute;
	       left: 0;
	       bottom: -6px;
	       background: transparent url(../images/puls-logo-top.jpg) left top no-repeat;
	       text-indent: -999px;
	       border: none;
	       }		
			
		
	.menu-name-secondary-links .menu li.last a {
		border: none;
		}




/**********************************************************
 *                       Banner
 **********************************************************/

#banner {
	height: 188px;
	width: 601px;
	/*background: #fff url(../images/flashbanner-placeholder.png) 0 19px no-repeat;*/
	margin-bottom: 19px; 
	padding-top: 19px;
	clear: both;
	}

.block-fading_banner {
  margin: 0 -3px;
}

/**********************************************************
 *                       Event
 **********************************************************/

#block-simple_event-0 ul {
  margin-bottom: 30px;
}

#block-simple_event-0 li {
  display: inline;
  padding: 2px 8px 2px 8px;
  border-left: 2px solid #ccc;
  margin-bottom: 8px;
}

#block-simple_event-0 li:first-child {
  display: inline;
  padding: 2px 8px 2px 0px;
  border: 0px;
}

.repeated-events .field-label {
  padding-left: 18px;
  background: transparent url(../images/icon-list-bullet.png) 0% 50% no-repeat;
}

.repeated-events .field-label.event-link {
  color: #668ead;
  cursor: pointer;
}

.repeated-events .field-label.event-link:hover {
  text-decoration: underline;
}

.repeated-events .field-label.item-open {
  padding-left: 18px;
  background: transparent url(../images/icon-list-bullet-down.png) 0% 50% no-repeat;
}

/**********************************************************
 *                    H1 Page Title
 **********************************************************/






/**********************************************************
 *                     Content 
 **********************************************************/

#content {
	clear: both;
	}
	
	#maincontent {
		padding-left: 26px;
		border-left: 1px dotted #ddd;
		width: 389px;
		float: right;
		margin-bottom: 30px;
		}


/**********************************************************
 *                     Views 
 **********************************************************/

/**
 * Arrangementsoversigter, og månedsoversigter 
 */

.view-display-id-page_1 li.views-row,
.view-display-id-page_2 li.views-row {
	border-bottom: 1px dotted #ddd; 
	padding: 8px 0 12px;
	margin-bottom: 4px;
}





/**********************************************************
 *               Footer, Footer Message
 **********************************************************/

#footer {
	padding: 31px 179px 20px 180px;
/*	width: 761px; */
	margin: 0 auto;
	background: transparent url(../images/back-footer-default.png) center top no-repeat;
	}

/*--------------------------------------------------*/
/* AARHUS KOMMUNE TOPBAR
/*--------------------------------------------------*/
#aak-topbar {
	height: 75px;
	width: 100%;
	background: #fff url(../images/aakb-aakbar-back.png) left top repeat-x;
	}
	
	#aak-topbar-inner {
		width: 980px;
		margin: 0 auto;
		height: 75px;
		text-align: right;
		background: transparent url(../images/aakb-aakbar-logo.jpg) 0px 12px no-repeat;
		}
		
		#aak-topbar-inner a {
			line-height: auto;
			padding: 0 16px 0 0;
			font-size: 12px;
			margin-top: 22px;
			display: inline-block;
			}
			
		#aak-topbar-inner a:link,
		#aak-topbar-inner a:visited {
			color: #333;
			}




/**********************************************************
 *                     Isbanen grafikker 
 **********************************************************/
.isbanen #container {
	background: transparent url(../images/back-content-isbanen.png) center top repeat-y;	
}

.isbanen #site-name span {
	height: 65px;
	width: 416px;
	background: transparent url(../images/back-title-isbanen.jpg) left top no-repeat;
	}

.isbanen #container-inner {
	background: transparent url(../images/back-top-isbanen-1.jpg) center top no-repeat;
	}
	
	.isbanen #container-inner.theme-style-2,
	.isbanen #container-inner.theme-style-5 {
		background: transparent url(../images/back-top-isbanen-2.jpg) center top no-repeat;
		}

	.isbanen #container-inner.theme-style-3,
	.isbanen #container-inner.theme-style-6 {
		background: transparent url(../images/back-top-isbanen-3.jpg) center top no-repeat;
		}

	.isbanen #container-inner.theme-style-4,
	.isbanen #container-inner.theme-style-7 {
		background: transparent url(../images/back-top-isbanen-4.jpg) center top no-repeat;
		}		


.isbanen #footer {
	background: transparent url(../images/back-footer-isbanen.png) center top no-repeat;
	}

.isbanen #header-blocks .menu-name-primary-links li.expanded .menu,
.isbanen #header-blocks .menu-name-menu-isbanen-links li.expanded .menu {
		display: none;
		position: absolute;
		float: left;
		left: 1px;
		top: 40px;
		background: #8495ab;
		height: auto;
                z-index: 10;
		}

		.isbanen #header-blocks .menu-name-primary-links li.expanded .menu a:hover,
		.isbanen #header-blocks .menu-name-menu-isbanen-links li.expanded .menu a:hover {
			background: #05152f;
			}

.back-to-overview {
  float: right;
  margin-right: 10px;
  margin-top: 8px;
}
